body {
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: 50px;
}

#imageDisplay {
  margin-top: 20px;
}

#sliderContainer {
  background: url('data/image7.png') center center no-repeat;
  background-size: contain;
  position: relative;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  /* border: 1px solid #333; */
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing between slider wrappers */
  margin-left: 250px; /* Move sliders to the right with respect to background image*/
  /* border: 2px solid #000; */
}

span {
  font-size: 18px;
  color: #333; /* Adjust text color */
  margin-top: 5px;
}

label {
  font-size: 18px;
  margin-bottom: 10px; /* Adjust the spacing between label and span */
  color: #333; /* Adjust text color */
}

input[type="range"] {
  width: 80%;
  margin: 0 auto; /* Center the slider horizontally */
  margin-top: 0px;
  /* Set the color for the slider track */
  background-color: #2196F3; /* Blue color */
  /* Remove the default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* Set the height and width of the slider */
  height: 10px;
  /* Add some margin for better visualization */
  margin: 20px 0;
  text-align: center; /* Center the slider within its container */
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  /* Set the color of the slider thumb for WebKit browsers (Chrome, Safari) */
  background-color: yellow;
  /* Set the size and shape of the slider thumb */
  height: 20px;
  width: 20px;
  border-radius: 50%; /* Make it a circle */
  border: 1px solid black;
  /* Remove the default appearance */
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  /* Set the color of the slider thumb for Mozilla Firefox */
  background-color: yellow;
  /* Set the size and shape of the slider thumb */
  height: 15px; /* Adjust the height as needed */
  width: 15px; /* Adjust the width as needed */
  border-radius: 50%; /* Make it a circle */
  /* Remove the default appearance */
  border: none;
}

#plantDisplay,
#pavementDisplay {
  position: absolute;
  font: bold 19px Verdana;
}

#plantDisplay {
  top: 146px;
  left: 362px;
  color: rgb(19, 20, 19);
}

#pavementDisplay {
  top: 146px;
  left: 457px;
  color: rgb(19, 20, 19);
}

